
<ul>
      <li routerLinkActive="active"><a [routerLink]="['/about']"><h4 style="color: white">About</h4></a></li>
      <li routerLinkActive="active"><a [routerLink]="['/governance']"><h4 style="color: white">Governance</h4></a></li>
      <li routerLinkActive="active"><a><h4 style="color: white">Transition</h4></a></li>
      <li routerLinkActive="active"><a><h4 style="color: white">Support</h4></a></li>
      <li routerLinkActive="active"><a><h4 style="color: white">Contact</h4></a></li>
      <li routerLinkActive="active"><a><h4 style="color: white">TrackMaster</h4></a></li>
</ul>

